{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container">

  <div class="cover">
    <img src="{% static 'images/logoo.png' %}" alt="My image" style="width:23%; height:auto; margin-bottom: 2%">
    <h1>Shopify Login</h1>
    <form  class="flex-form" action="{% url 'shopify_app_authenticate'%}" method="post">{% csrf_token %}

      <input type="search" id="shop" name="shop" placeholder="yourstore.myshopify.com" place="lightblue">
      <input name="commit" type="submit" value="Login">
    </form>
  </div>

</div>
<!--<div class="row">-->
<!--<img src="/static/images/logoo.png" style="width:30%"></img-->
<!--</div>-->
<!--<div class=""row>-->
<!--<h1 style="font-size:32px">Shopify Login</h1>-->

<!--<p>Install this app in a shop to get access to its private admin data.</p>-->

<!--<form action="{% url "shopify_app_authenticate" %}" method="post">{% csrf_token %}-->
<!--  <label for='shop'><strong>The URL of the Shop</strong>-->
<!--    <span class="hint">(or just the subdomain if it&rsquo;s at myshopify.com)</span>-->
<!--  </label>-->
<!--  <p>-->
<!--    <input id="shop" name="shop" size="45" type="text" />-->
<!--    <input name="commit" type="submit" value="Install" />-->
<!--  </p>-->
<!--</form>-->
{% endblock %}